@model TFE_GestionDeStockEtVenteEnLigne.Models.Produit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Produit</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Ref" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ref" class="form-control" />
                <span asp-validation-for="Ref" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Denomination" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Denomination" class="form-control" />
                <span asp-validation-for="Denomination" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prix" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QuantiteEmballage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QuantiteEmballage" class="form-control" />
                <span asp-validation-for="QuantiteEmballage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NBPieceEmballage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NBPieceEmballage" class="form-control" />
                <span asp-validation-for="NBPieceEmballage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TVA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TVA" class="form-control" />
                <span asp-validation-for="TVA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompteCompta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompteCompta" class="form-control" />
                <span asp-validation-for="CompteCompta" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Marque" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QuantiteStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QuantiteStock" class="form-control" />
                <span asp-validation-for="QuantiteStock" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
