
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row entipaddingrow">
    <ul class="connexion">
        <li>
            <a class="btn  btn-lg btngrad" asp-area="" asp-controller="Paniers" asp-action="Index">Mon Panier</a>
        </li>
        @*<button type="submit" class=" btnConf mymenu">Mon panier</button>*@


    </ul>
    <div class="col-sm-12 " style="text-align: center;">
        @*<div class="col-sm-1"></div>*@
        <img class="col-sm-11" src="~/images/Panier2.png" />
    </div>
</div>