@model IEnumerable<TFE_GestionDeStockEtVenteEnLigne.Models.Categorie>

    @{
        Layout = null;
    }
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Recherche</title>
    </head>
    <body>
        <div>
            <div>
                <h3 >Recherche</h3>
                <div class="">
                    <form asp-controller="Produits" asp-action="Index" method="get">
                        <div>
                            <input class="col-md-10" type="text" name="SearchStr" value="@ViewData["Filter"]" />
                        </div>
                        <div>
                            <input type="submit" value="Search" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
            <table class="table">
                @Html.Partial("Categorie", Model)
            </table>
        </div>

    </body>
</html>
