@model IEnumerable<TFE_GestionDeStockEtVenteEnLigne.Models.Categorie>

@{
    ViewData["Title"] = "Categories";
}

<h2>Catégories</h2>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edition</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Détails</a>
            </td>
        </tr>
}
    </tbody>
</table>
