@model TFE_GestionDeStockEtVenteEnLigne.Models.MotClef

@{
    ViewData["Title"] = "Delete";
}

<h2>Supprimer</h2>

<h3>Etes-vous sûr de vouloir supprimer ce mot clef?</h3>
<div>
    @*<h4>MotClef</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Valeur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valeur)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            <a asp-action="Index">Retour à la liste</a>
        </div>
    </form>
</div>
